* {
  margin: 0%;
  padding: 0%;
}

:root {
  --bg-dark: #181e2a;
  --tex-primery: #fff;
  --boldFont: "BreeSerif";
  --smallFont: "monsterrat";
  --bg-btn: #48f4f6;
  --fontEigh:8px;
  --fontTen:10px;
  --fontTwe:12px;
  --fontFourt:14px;
  --fontSix:16px;
  --fontEight:18px;
  --fontTwenty:20px;
  --fontTevis:24px
;
}

body {
  padding: 1rem;
  background-color: var(--bg-dark);
}

.header-navBar {
  width: 24rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-navBar img {
  width: 4rem;
  height: 1rem;
}

.menu-section ul {
  list-style: none;
  height: 2rem;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  grid-column-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-section ul li {
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-section ul li a {
  font-family: var(--smallFont);
  color: var(--tex-primery);
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none;
}

.menu-section ul a:hover {
  border-bottom: 2px solid rgba(136, 108, 108, 0.748);
  color: rgba(255, 255, 255, 0.748);
}

.menu-section ul li:hover {
  padding: 2px;
}

@media screen and (min-width: 120px) {
  .header-navBar {
    width: 100%;
    height: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fylo-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fylo-logo img {
    width: 2rem;
    height: 1rem;
  }
  .menu-section ul {
    height: 2rem;
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-column-gap: 0.3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-section ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-section ul li a {
    font-size: 8px;
  }
  .feature-page {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
  }
  .feature-page .features-btn p {
    font-family: var(--smallFont);
    color: var(--tex-primery);
  }
  .team-page {
    margin: 5rem 0px;
  }
  .text-container h1 {
    font-family: var(--boldFont);
    color: var(--tex-primery);
  }
  .text-container p {
    color: var(--tex-primery);
    font-family: var(--smallFont);
  }
}

@media screen and (min-width: 280px) {
  .header-navBar {
    width: 100%;
    height: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fylo-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fylo-logo img {
    width: 4rem;
    height: 1rem;
  }
  .menu-section ul {
    height: 2rem;
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
    grid-column-gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-section ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-section ul li a {
    font-size: var(--fontEigh);
  }
  .intro-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro-image img {
    max-width: 18rem;
  }
  .intro_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 17rem;
  }
  .intro_text h1 {
    text-align: center;
    line-height: 1.8rem;
    font-size: var(--fontTevis);
    color: var(--tex-primery);
    font-family: var(--boldFont);
    margin-bottom: 0.9rem;
    white-space: wrap;
  }
  .intro_text p {
    color: var(--tex-primery);
    font-family: var(--smallFont);
    text-align: center;
    font-size: var(--fontTen);
    line-height: 1rem;
  }
  .intro_text .btn {
    background: var(--bg-btn);
    color: var(--tex-primery);
    font-family: var(--boldFont);
    margin: 0.9rem 0rem;
    width: 14rem;
    height: 3rem;
    border-radius: 1.6rem;
  }
  .feature-page {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
    grid-row-gap: 5rem;
    margin-top: 3rem;
  }
  .feature-page .features-btn img {
    margin-bottom: 1.4rem;
  }
  .feature-page .features-btn h1 {
    font-size: 20px;
    margin: 0.6rem 0px;
  }
  .feature-page .features-btn p {
    width: 18rem;
    font-size: 10px;
    line-height: 1rem;
    letter-spacing: 1px;
  }
  .team-page {
    margin: 5rem 0px;
  }
  .teamImage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .teamImage img {
    max-width: 18rem;
  }
  .text-container h1 {
    font-size: 20px;
    font-family: var(--boldFont);
    color: var(--tex-primery);
    margin: 1rem 0px;
  }
  .text-container p {
    color: var(--tex-primery);
    font-family: var(--smallFont);
    font-size: 12px;
    margin: 0.6rem 0px;
    max-width: 30rem;
    line-height: 1.2rem;
  }
}

@media screen and (min-width: 480px) {
  .header-navBar {
    width: 100%;
    height: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fylo-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .fylo-logo img {
    width: 6rem;
    height: 1.8rem;
  }
  .menu-section ul {
    height: 2rem;
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
    grid-column-gap: 1.3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-section ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-section ul li a {
    font-size: 12px;
  }
  .intro-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro-image img {
    max-width: 24rem;
  }
  .intro_text {
    width: 26rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem 0rem;
  }
  .intro_text h1 {
    line-height: 2rem;
    font-size: 26px;
    color: var(--tex-primery);
    font-family: var(--boldFont);
    margin-bottom: 0.9rem;
  }
  .intro_text p {
    width: 24rem;
    color: var(--tex-primery);
    font-family: var(--smallFont);
    font-size: 14px;
    line-height: 1.2rem;
  }
  .intro_text .btn {
    background: var(--bg-btn);
    color: var(--tex-primery);
    font-family: var(--boldFont);
    margin: 0.9rem 0rem;
    width: 18rem;
    height: 3rem;
    border-radius: 1.6rem;
  }
  .feature-page {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
    grid-row-gap: 5rem;
    margin-top: 3rem;
  }
  .feature-page .features-btn img {
    margin-bottom: 1.4rem;
  }
  .feature-page .features-btn h1 {
    font-size: 20px;
    margin: 0.6rem 0px;
  }
  .feature-page .features-btn p {
    width: 18rem;
    font-size: 10px;
    line-height: 1rem;
    letter-spacing: 1px;
  }
  .team-page {
    margin: 5rem 0px;
  }
  .text-container h1 {
    font-family: var(--boldFont);
    color: var(--tex-primery);
  }
  .text-container p {
    color: var(--tex-primery);
    font-family: var(--smallFont);
  }
  .team-page {
    margin: 5rem 0px;
  }
  .teamImage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .teamImage img {
    max-width: 26rem;
  }
  .text-container h1 {
    font-size: 32px;
    font-family: var(--boldFont);
    color: var(--tex-primery);
    margin: 2rem 0px 1rem 0px;
  }
  .text-container p {
    color: var(--tex-primery);
    font-family: var(--smallFont);
    font-size: 14px;
    margin: 0.5rem 0px;
    max-width: 28rem;
    line-height: 1.5rem;
    text-align: start;
  }
}

@media screen and (min-width: 600px) {
  .header-navBar {
    width: 100%;
    height: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fylo-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .fylo-logo img {
    width: 6rem;
    height: 1.8rem;
  }
  .menu-section ul {
    height: 2rem;
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
    grid-column-gap: 1.3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-section ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-section ul li a {
    font-size: 12px;
  }
  .intro-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro-image img {
    max-width: 30rem;
  }
  .intro_text {
    width: 26rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem 0rem;
  }
  .intro_text h1 {
    line-height: 2.3rem;
    font-size: 30px;
    color: var(--tex-primery);
    font-family: var(--boldFont);
    margin-bottom: 0.9rem;
  }
  .intro_text p {
    width: 28rem;
    color: var(--tex-primery);
    font-family: var(--smallFont);
    font-size: 16px;
    line-height: 1.4rem;
  }
  .intro_text .btn {
    background: var(--bg-btn);
    color: var(--tex-primery);
    font-family: var(--boldFont);
    margin: 0.9rem 0rem;
    width: 18rem;
    height: 3rem;
    border-radius: 1.6rem;
    font-size: 16px;
  }
  .feature-page {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
    grid-row-gap: 5rem;
    margin-top: 3rem;
    max-width: 50rem;
    margin: 0px auto;
    margin-top: 4rem;
  }
  .feature-page .features-btn img {
    margin-bottom: 1.4rem;
  }
  .feature-page .features-btn h1 {
    font-size: 20px;
    margin: 0.6rem 0px;
  }
  .feature-page .features-btn p {
    max-width: 20rem;
    font-size: 10px;
    line-height: 1rem;
    letter-spacing: 1px;
  }
  .team-page {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    margin: 5rem 0px;
    grid-column-gap: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .teamImage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .teamImage img {
    max-width: 18rem;
  }
  .text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .text-container h1 {
    word-wrap: break-word;
    font-size: 30px;
    font-family: var(--boldFont);
    color: var(--tex-primery);
    max-width: 16rem;
    text-align: left;
    line-height: 2rem;
  }
  .text-container p {
    color: var(--tex-primery);
    font-family: var(--smallFont);
    font-size: 12px;
    max-width: 20rem;
    line-height: 1.2rem;
    text-align: start;
  }
}

@media screen and (min-width: 801px) {
  .header-navBar {
    width: 100%;
    height: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fylo-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .fylo-logo img {
    width: 6rem;
    height: 1.8rem;
  }
  .menu-section ul {
    height: 2rem;
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
    grid-column-gap: 1.3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-section ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-section ul li a {
    font-size: 12px;
  }
  .intro-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro-image img {
    max-width: 30rem;
  }
  .intro_text {
    width: 26rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem 0rem;
  }
  .intro_text h1 {
    line-height: 2rem;
    font-size: 26px;
    color: var(--tex-primery);
    font-family: var(--boldFont);
    margin-bottom: 0.9rem;
  }
  .intro_text p {
    width: 20rem;
    color: var(--tex-primery);
    font-family: var(--smallFont);
    font-size: 10px;
    line-height: 1rem;
  }
  .intro_text .btn {
    background: var(--bg-btn);
    color: var(--tex-primery);
    font-family: var(--boldFont);
    margin: 0.9rem 0rem;
    width: 18rem;
    height: 3rem;
    border-radius: 1.6rem;
  }
  .feature-page {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
    grid-row-gap: 5rem;
    margin-top: 3rem;
    max-width: 50rem;
    margin: 0px auto;
    margin-top: 4rem;
  }
  .feature-page .features-btn img {
    margin-bottom: 1.4rem;
  }
  .feature-page .features-btn h1 {
    font-size: 20px;
    margin: 0.6rem 0px;
  }
  .feature-page .features-btn p {
    max-width: 20rem;
    font-size: 10px;
    line-height: 1rem;
    letter-spacing: 1px;
  }
  .team-page {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    margin: 5rem 0px;
    grid-column-gap: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .teamImage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .teamImage img {
    max-width: 25rem;
  }
  .text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .text-container h1 {
    word-wrap: break-word;
    font-size: 30px;
    font-family: var(--boldFont);
    color: var(--tex-primery);
    max-width: 16rem;
    text-align: left;
    line-height: 2rem;
  }
  .text-container p {
    color: var(--tex-primery);
    font-family: var(--smallFont);
    font-size: 12px;
    max-width: 20rem;
    line-height: 1.2rem;
    text-align: start;
  }
}

@media screen and (min-width: 1025px) {
  .header-navBar {
    width: 100%;
    height: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fylo-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .fylo-logo img {
    width: 6rem;
    height: 1.8rem;
  }
  .menu-section ul {
    height: 2rem;
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
    grid-column-gap: 1.3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-section ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-section ul li a {
    font-size: 12px;
  }
  .intro-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro-image img {
    max-width: 30rem;
  }
  .intro_text {
    width: 26rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem 0rem;
  }
  .intro_text h1 {
    line-height: 2rem;
    font-size: 26px;
    color: var(--tex-primery);
    font-family: var(--boldFont);
    margin-bottom: 0.9rem;
  }
  .intro_text p {
    width: 20rem;
    color: var(--tex-primery);
    font-family: var(--smallFont);
    font-size: 10px;
    line-height: 1rem;
  }
  .intro_text .btn {
    background: var(--bg-btn);
    color: var(--tex-primery);
    font-family: var(--boldFont);
    margin: 0.9rem 0rem;
    width: 18rem;
    height: 3rem;
    border-radius: 1.6rem;
  }
  .feature-page {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
    grid-row-gap: 5rem;
    margin-top: 3rem;
    max-width: 50rem;
    margin: 0px auto;
    margin-top: 4rem;
  }
  .feature-page .features-btn img {
    margin-bottom: 1.4rem;
  }
  .feature-page .features-btn h1 {
    font-size: 20px;
    margin: 0.6rem 0px;
  }
  .feature-page .features-btn p {
    max-width: 20rem;
    font-size: 10px;
    line-height: 1rem;
    letter-spacing: 1px;
  }
  .team-page {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    margin: 5rem 0px;
    grid-column-gap: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .teamImage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .teamImage img {
    max-width: 36rem;
  }
  .text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .text-container h1 {
    max-width: 22rem;
    word-wrap: break-word;
    font-size: 42px;
    font-family: var(--boldFont);
    color: var(--tex-primery);
    text-align: left;
    line-height: 3rem;
  }
  .text-container p {
    color: var(--tex-primery);
    font-family: var(--smallFont);
    font-size: 14px;
    max-width: 24rem;
    line-height: 1.2rem;
    text-align: start;
  }
}
/*# sourceMappingURL=Index.css.map */